@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background:linear-gradient(rgba(11, 11, 11, 0.872),rgba(21, 21, 21, 0.753)),url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    
}
section{
    width: 100%;
    min-height: 100vh;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(11, 11, 11, 0.872),rgba(21, 21, 21, 0.753)),url('background.jpg');
    background-size: cover;
    background-position: center;
}
#fullnav{
    position: sticky;
    top: 0;
    z-index: 20;
    transition: .3s;
}
.navbg{
    background: rgb(14, 19, 23);
    transition: .3s;
    box-shadow: 0 0 15px rgb(24, 62, 98);
    border: none;
}
.socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .1rem solid rgb(0, 132, 255);
    border-radius: 50%;
    font-size: 1.3rem;
    color: rgb(0, 132, 255);
    margin: 1rem 1rem 2rem 0;
    
}
.socialmedia a:hover{
    background-color: rgba(0, 132, 255, 0.856);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 132, 255);
}
#menu a{
    color: rgba(255, 255, 255, 0.594);
    font-size: 15px;
    margin: 6px;
    
}
#menu a:hover{
    color:  rgb(0, 132, 255);
    text-shadow: 0 0 1px rgb(0, 132, 255);
    font-weight: 500;
}
#intro{
    color: white;
    margin-top: 5%;
}

#intro button{
    color: white;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color:rgb(0, 132, 255) ;
    box-shadow: 0 0 2px rgb(0, 132, 255);
    
}
#btn2:hover{
        background: rgb(0, 132, 255) !important;
        font-weight: 500 !important;
}
#intro button:hover{
    
    box-shadow: 0 0 10px rgb(0, 132, 255);
    background: transparent;
    border: 1px solid rgb(0, 132, 255) ;
    border-radius: 2px;
    font-weight: 500;

}
#intro2 img{
    border-radius: 62% 38% 24% 76% / 65% 41% 59% 35% ;
    width: 16rem;
    box-shadow: 0 0 10px rgb(0, 132, 255), 0 0 10px rgb(0, 132, 255);
    background: rgba(6, 76, 142, 0.326);
    animation: profile;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition: .9S;
}
@keyframes profile{
    0%{
        border-radius: 62% 38% 24% 76% / 65% 41% 59% 35%;
    }
    
    30%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    60%{
        border-radius: 83% 17% 70% 30% / 30% 66% 34% 70% ;
    }

    100%{
        border-radius:  62% 38% 24% 76% / 65% 41% 59% 35%;
    }
  
}
#intro2 img:hover{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%   ;
    transition: ease .9S;
    box-shadow: 0 0 30px rgb(0, 132, 255), 0 0 15px rgb(0, 132, 255);
}

#Skills{
    background-color: rgba(19, 56, 75, 0.858);
    
  
}
#Skills h2{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.913);
    padding-top: 30px;
}
label{
    padding-top: 30px;
    color: white;
    padding-bottom: 10px;   
}
.progress{
    box-shadow: 2px 4px 5px rgb(86, 86, 86);
    margin-top: 10px;
    height: 30px !important;
    transition: .2s;
}
.progress:hover{
    transform:scaleY(1.2);
    transition: .2s;
}
#Education{
    
    background:linear-gradient(rgba(0, 0, 0, 0.402),rgba(0, 0, 0, 0.886)) ;
    
}
#edu img{
    box-shadow: 0 0 10px rgb(62, 77, 92), 0 0 10px rgb(202, 202, 202);
    width: 70%; 
    transition: 1s;  
}
#edu img:hover{
    transform: scale(1.05);
    transition: 1s;
}
#edu h4{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;

}
span{
    font-weight: bold; 
    color: rgb(0, 132, 255) ;
    text-shadow: 0 0 2px rgb(0, 132, 255);
}
#Project{
    background-color: rgba(19, 56, 75, 0.858);
}
#Contact{
    background:linear-gradient(rgba(11, 11, 11, 0.943),rgba(21, 21, 21, 0.87)),url('background.jpg');
    background-size: cover;
    background-position: center;
}
.form{
    display: inline-block;
    align-items: center;
    justify-content: center;  
}
.form-control{
    background: transparent !important;
    color: white !important;
}
#formsub {
    width: 100% !important;
    border: none !important;
}
#cardshadow{
    transition:0.5s;
    box-shadow:  0px 13px 27px -5px rgba(26, 26, 139, 0.671),  0px 8px 16px -8px rgba(215, 212, 212, 0.3);
}
#cardshadow:hover{
    transform: scale(1.05)!important;
    transition: 0.5s;
    
}
#formsub:hover{
    background: rgb(0, 132, 255) !important;
    background: transparent !important;
    font-weight: 500 !important;
    border: 1px solid rgb(0, 132, 255) !important;
    box-shadow: 0 0 10px rgb(0, 132, 255);
}
@media screen  and (max-width: 767px){
    #intro{
        margin-bottom:3rem;
    }
    #intro h4,#intro h5{
        color: rgb(255, 255, 255);
        font-size: 16px !important;
    }

    #intro2 img{
        width: 16rem;
    }
    #intro button{
        font-size: 13px;
    }
    #intro p{
        font-size: 10px !important;
    }

}
@media screen and (min-width:768px)and (max-width:1023px){
    section{
        width: 100%;
        min-height: 50vh;
    }
    #intro2 img{
        width: 15rem;
    }
}
@media screen  and (min-width: 1440px){
    
    #intro h4,#intro h5{
        color: rgb(255, 255, 255);
        font-size: 30px !important;
    }

    #intro2 img{
        width: 20rem;
    }
    #intro button{
        font-size: 20px;
    }
    #intro p{
        font-size: 20px !important;
    }
    section{
        width: 100%;
        min-height: 80vh;
    }

}